html {
  min-height: 100%;
  background-color: #99da99;
}

body {
  margin: 0;
}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#header li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

#header-logo {
  float: left;
}

#logo-image {
  height: 80px;
}

#greetings {
  float: right;
}

.widget-container {
  width: 900px;
  margin: 0 auto;
}

.graph-bar {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  border-bottom: 1px solid #ccc !important;
  width: 100%;
  overflow: hidden;
}

.graph-bar .graph-bar-item {
  white-space: normal;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.graph-bar-item {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.graph-bar-item:hover {
  background-color: #ccc !important;
}

.dark-gray {
  color: #fff !important;
  background-color: #616161 !important;
}

#linechart_material {
  display: inline-block;
  background-color: white;
  height: 450px;
  width: 800px;
  padding: 25px 50px;
}
